$cor-suporte-dark: #1C1617;
$cor-suporte-dark1: #0D0909;
$cor-suporte-dark-text: #1B181D;

$cor-suporte-light: #FFFBFC;
$cor-suporte-light: #FFFBFC;
$cor-suporte-light-text: #F0EEF2;

$cor-foco-regular: #750D1D;
$cor-foco-regular-dark: #5C010F;
$cor-foco-regular-dark1: #42010B;